form.signup,
form.login {
  margin-top: 50px;
}

#player {
  margin-left: 450px;
  margin-top: 30px;
}

#player2 {
  margin-left: 450px;
  margin-top: 30px;
}

#player3 {
  margin-left: 450px;
  margin-top: 30px;
}

.btn-danger {
  margin-left: 5px;
}

.btn-primary {
  margin-left: 5px;
}
